* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color:transparent;//消除手机点击时的蓝色底色
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media screen and(min-width: 769px) {
  html, body {
    width: 53%;
    margin: 0 auto;
  }

  body{
    box-shadow: 0 0 30px gray;
  }
}

