#top_nav {
  *zoom: 1;
}

#top_nav:before,
#top_nav:after {
  content: "";
  display: table;
}

#top_nav:after {
  clear: both;
}

.aside-nav li a {
  *zoom: 1;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

body {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
  text-decoration: none;
  color: #08c;
}

a:active,
a:hover {
  outline: 0;
}

a:hover {
  color: #069;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  *margin-left: -7px;
}

textarea {
  overflow: auto;
  resize: vertical;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

q {
  quotes: none;
}

html,
button,
input,
select,
textarea {
  font-family: "Helvetica Neue",Helvetica,Tahoma,sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
form,
blockquote {
  margin: 0;
}

ul,
ol,
li,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none outside none;
}

h1,
h2,
h3 {
  line-height: 2;
  font-weight: normal;
}

h1 {
  font-size: 21px;
}

h2 {
  font-size: 18.2px;
}

h3 {
  font-size: 16.38px;
}

h4 {
  font-size: 14px;
}

h5,
h6 {
  font-size: 11.9px;
  text-transform: uppercase;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #ccc;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #ccc;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #ccc;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ccc;
}

.wrap-top-bar {
  background-color: #333;
}

#top_nav {
  line-height: 36px;
  text-transform: capitalize;
}

#top_nav li {
  float: left;
  display: inline;
}

#top_nav a {
  display: block;
  padding: 0 15px;
  color: #ccc;
}

#top_nav a:hover {
  color: #fff;
}

#top_nav .active a {
  color: #fff;
}

.aside-nav {
  background-color: #ebebeb;
}

.aside-nav li {
  border-bottom: 1px solid #f8f8f8;
}

.aside-nav li:last-child {
  border-bottom: none;
}

.aside-nav li a {
  display: block;
  line-height: 30px;
  color: #333;
  padding: 0 10px;
}

.aside-nav li a:hover {
  background-color: #00a3cf;
  color: #fff;
}

.aside-nav .active a {
  background-color: #00a3cf;
  color: #fff;
}

#nav {
  background-color: #ebebeb;
  line-height: 40px;
}

#nav li {
  border-right: 1px solid #f8f8f8;
}

#nav a {
  color: #333;
  width: 120px;
  text-align: center;
  display: block;
}

#nav a:hover {
  background-color: #00a3cf;
  color: #fff;
}

#nav .active a {
  background-color: #00a3cf;
  color: #fff;
}

body {
  font-family: "Microsoft Yahei";
  padding-top: 36px;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  border-bottom: 3px double #aaa;
  padding-bottom: 2px;
  margin-bottom: 20px;
}

h2 {
  border-bottom: 1px solid #aaa;
  color: #0074d9;
  padding-bottom: 2px;
  margin-bottom: 5px;
}

h3 {
  font-size: 16px;
}

#container {
  padding: 20px 0;
}

#main {
  margin: 0 auto;
  max-width: 850px;
}

code {
  background-color: #f5f5f5;
  padding: 0 5px;
  border-radius: 5px;
}

.notes {
  color: #ff4136;
}

.article img {
  margin: 10px 0;
  outline: 5px solid rgba(0, 0, 0, 0.5);
  outline-offset: -5px;
}

.wrap-top-bar {
  position: fixed;
  z-index: 1010;
  width: 100%;
  top: 0;
}

#top_bar {
  position: relative;
  text-align: center;
}

#top_nav {
  display: inline-block;
  vertical-align: middle;
}

#top_nav li:nth-child(3) a {
  background-color: #00a3cf;
  color: #fff;
}

.page-compile #top_nav li:nth-child(4) a,
.page-syntax #top_nav li:nth-child(1) a,
.page-install #top_nav li:nth-child(2) a,
.page-debug #top_nav li:nth-child(5) a {
  color: #fff;
}

#footer {
  background-color: #eee;
  padding: 10px 0;
  text-align: center;
}

#footer .links a {
  margin: 0 10px;
}

#first_screen,
.win8 li:nth-child(9),
.win8 li:nth-child(10),
.win8 li:nth-child(11),
.compare-code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
}

html,
body {
  height: 100%;
}

.front {
  padding-top: 0;
}

.site-name {
  color: #eeeeee;
  font-size: 230px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: -1;
  text-transform: capitalize;
  font-variant: small-caps;
  border-bottom: none;
  line-height: 1;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

#first_screen {
  min-height: 480px;
  height: 100%;
}

.win8 {
  margin: auto;
  width: 960px;
  overflow: hidden;
}

.win8 li {
  width: 140px;
  height: 140px;
  float: left;
  margin: 10px;
  text-align: center;
  font-size: 18px;
  line-height: 140px;
  background-color: #00a3cf;
  color: #fff;
}

.win8 li:nth-child(1),
.win8 li:nth-child(6) {
  width: 300px;
}

.win8 li:nth-child(6) {
  margin-top: -150px;
  background-color: #ff851b;
}

.win8 li:nth-child(2) {
  width: 300px;
  height: 300px;
  background-color: #b10dc9;
}

.win8 li:nth-child(11) {
  height: 300px;
  margin-top: -150px;
  background-color: #2ecc40 !important;
}

.win8 li:nth-child(5) {
  width: 300px;
}

.win8 li:nth-child(9) {
  line-height: 2;
  -webkit-justify-content: center;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
  width: 460px;
}

.win8 li:nth-child(10),
.win8 li:nth-child(11) {
  line-height: 2;
  font-size: 16px;
  background-color: #b10dc9;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}

.win8 li:nth-child(8) {
  background-color: #2ecc40;
  width: 140px;
}

.win8 li:nth-child(3) {
  background-color: #ff851b;
}

.win8 li:nth-child(4) a {
  line-height: 70px;
}

.win8 li a {
  display: block;
  color: #fff;
}

.win8 li .entry-link {
  position: relative;
  height: 100%;
}

.win8 li .entry-link:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid #ccc;
  border-width: 0 1px 1px 0;
  left: 50%;
  top: 100px;
  -webkit-transform: rotate(45deg) translate(-50%, 0);
  transform: rotate(45deg) translate(-50%, 0);
  -webkit-animation: arrowGo 5s infinite steps(10, end);
  animation: arrowGo 5s infinite steps(10, end);
}

@-webkit-keyframes arrowGo {
  0% {
    opacity: 0.5;
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(45deg) translate(-50%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(45deg) translate(-50%, 0) scale(2);
    top: 280px;
  }
}

@keyframes arrowGo {
  0% {
    opacity: 0.5;
    transform-origin: center center;
    transform: rotate(45deg) translate(-50%, 0);
  }

  100% {
    opacity: 1;
    transform-origin: center center;
    transform: rotate(45deg) translate(-50%, 0) scale(2);
    top: 280px;
  }
}

#switch_btn {
  display: none;
}

.switch-control {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #b10dc9;
  color: #fff;
  -webkit-transform: translate(-50%, -230px);
  transform: translate(-50%, -230px);
  line-height: 140px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}

#switch_btn:checked + .switch-control {
  z-index: 3;
  position: fixed;
  height: 40px;
  line-height: 40px;
  top: 100%;
  margin-top: -40px;
  width: 940px;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  color: transparent;
}

#switch_btn:checked + .switch-control:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  border-width: 1px 1px 0 0;
  left: 50%;
  top: 15px;
  -webkit-transform: rotate(-45deg) translate(-50%, 0);
  transform: rotate(-45deg) translate(-50%, 0);
}

.switch-control:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid #ccc;
  border-width: 0 1px 1px 0;
  left: 50%;
  top: 100px;
  -webkit-transform: rotate(45deg) translate(-50%, 0);
  transform: rotate(45deg) translate(-50%, 0);
  -webkit-animation: arrowGo 5s infinite steps(10, end);
  animation: arrowGo 5s infinite steps(10, end);
}

@-webkit-keyframes arrowGo {
  0% {
    opacity: 0.5;
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(45deg) translate(-50%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(45deg) translate(-50%, 0) scale(2);
    top: 280px;
  }
}

@keyframes arrowGo {
  0% {
    opacity: 0.5;
    transform-origin: center center;
    transform: rotate(45deg) translate(-50%, 0);
  }

  100% {
    opacity: 1;
    transform-origin: center center;
    transform: rotate(45deg) translate(-50%, 0) scale(2);
    top: 280px;
  }
}

#simple_intro {
  width: 940px;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -webkit-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
  background-color: #fff;
  height: 0;
  overflow: hidden;
}

#simple_intro h2 {
  text-align: center;
  font-size: 30px;
  line-height: 4;
  margin-bottom: 20px;
}

#switch_btn:checked ~ #simple_intro {
  top: 0;
  height: auto;
  overflow: visible;
  padding-bottom: 60px;
}

.compare-code pre {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  flex: 1;
  margin-right: 20px;
}

.compare-code pre:last-child {
  margin-right: 0;
}
